/* General Styles */
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

/* Header Styles */
header {
  background: #195658;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header img {
  width: 150px;
  height: auto;
  margin-left: 20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  color: #0c2829;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
  transition: 0.3s ease-in-out;
}

/* Hero Section */
.hero {
  background-color: #c5c5c5;
  color: #333;
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h2 {
  font-size: 56px;
  font-family: "ICA Rubrik";
  margin-bottom: 20px;
  text-align: right;
}

.hero h2,
.hero .writeup p {
  margin-left: 500px;
}

.hero .writeup p {
  font-size: 22px;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: right;
}

#donate-btn {
  background: #ff5722;
  color: white;
  padding: 12px 40px;
  margin-left: 1000px;
  text-decoration: none;
  font-size: 19px;
  border-radius: 5px;
  transition: 0.3s;
}

#donate-btn:hover {
  background: #7c2f18;
}

#hero_img {
  margin-top: -500px;
  width: 300px;
  height: auto;
  margin-left: 20px;
  margin-right: 900px;
}

/* Footer Styles */
footer {
  background: #333;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    padding: 10px 0;
  }

  nav ul li,
  header img {
    margin-right: 35px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 8px;
  }

  .hero h2, .hero .writeup p{
    margin: 80px 40px;
    text-align: center;
  }
}