/* General Styles */
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

#home,
#about,
#gallery,
#testimonials,
#contact {
  text-align: center;
}

#about,
#gallery,
#testimonials,
#contact {
  margin-top: 50px;
}

/* Header Styles */
header {
  background: #195658;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 10px #0000004d;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header img {
  width: 150px;
  height: auto;
  margin-left: 20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 0 20px;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
  transition: 0.3s ease-in-out;
}

/* Hero Section */
.hero {
  background-color: #c5c5c5;
  color: #333;
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h2 {
  font-size: 45px;
  font-family: "ICA Rubrik";
  margin-bottom: 20px;
}

.hero h2,
.hero .writeup p {
  text-align: left;
  margin-right: 40px;
  margin-left: 473px;
}

.hero .writeup p {
  font-size: 22px;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: left;
}

#donate-btn {
  margin-right: 40px;
  background: #9e2b25;
  color: #fff;
  padding: 12px 30px;
  margin-left: 960px;
  margin-top: -10px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
  /* margin-top: 210px; */
}

#donate-btn:hover {
  background: #7c2f18;
}

#hero_img {
  margin-top: -350px;
  width: 307px;
  height: auto;
  margin-left: 20px;
  margin-right: 900px;
}

/* About Section */

#wwdimg, #ogimg {
  display: flex;
  justify-content: right;
}

#hwsimg {
  display: flex;
  justify-content: left;
}

#hwsimg img {
  margin-left: 10px;
}

#wwdimg img, #ogimg img{
  margin-right: 10px;
}

#wwd, #hws, #og {
  margin-top: 46px;
  color: #0C2829;
}

#wwd,
#og {
  text-align: right;
  margin-left: 40%;
  margin-right: 40px;
  max-width: calc(60% - 40px);
}

#hws {
  text-align: left;
  margin-left: 30px;
  max-width: calc(60% - 30px);
}

/* Gallery Section */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  max-width: 1240px;
  padding: 10px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 3px solid #39c39c;
  object-fit: cover;
}

/* Assign positions properly */
.img1 {
  grid-column: span 2;
}

.img2 {
  grid-column: 1;
}

.img3 {
  grid-column: 2;
  height: 390px;
}

.img4 {
  grid-column: 1;
  grid-row: 3;
}

.img5 {
  grid-column: 2;
  grid-row: 3;
} 

/* Footer Styles */
footer {
  background: #333;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    padding: 10px 0;
  }

  nav ul li,
  header img {
    margin-right: 35px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 8px;
  }

  .hero h2,
  .hero .writeup p {
    margin: 80px 40px;
    text-align: center;
  }
}
